$background-color: #DEEFB7;

$green-primary: #5FB49C;
$green-secondary: #98DFAF;
$green-tertiary: #BBE7B3;

$purple-primary: #414288;
$purple-secondary: #682D63;
$purple-tertiary: #764071;

// $scale: (
//   100: lighten($base, 45%),
//   200: lighten($base, 35%),
//   300: lighten($base, 25%),
//   400: lighten($base, 15%),
//   500: $base,
//   600: darken($base, 15%),
//   700: darken($base, 25%),
//   800: darken($base, 35%),
//   900: darken($base, 45%)
// );

// @each $key, $color in $scale {
//   .primary-#{$key} {
//     background-color: color
//   }
// }

:root {
  font-family: 'alegreya sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: #5F5F5F;
  background-color: #DEEFB7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@mixin flex($direction: row) {
  display: flex;
  flex-flow: $direction wrap;
}

.center {
  display: block;
  margin: auto;
  justify-self: center;
}

.container {
  max-width: 480px;
  margin: auto; 
}